@using OnlineAtelier.Web.Infrastructure.Constants
@model IEnumerable<OnlineAtelier.Web.Models.ViewModels.Posts.IndexPostsVm>
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron eli">
    <h2 class="lead">Cookies!!! I can say everything with cookies!</h2>
</div>

<div class="row">
    <aside>
        <div class="col-lg-3">
            <div class="btn-group-vertical" style="width: 200px">
                @*todo move to css fail*@
                @Html.ActionLink("Начало", Views.Index, null, new { type = "button", @class = "btn btn-default active" })
                @Html.ActionLink("Публикувай", "Create", null, new { type = "button", @class = "btn btn-default" })
                <a href="~/" class="btn btn-default">Exit</a>
                <br />
            </div>
        </div>
    </aside>
    <section>
        <div class="col-lg-6">
            @foreach (var publication in Model)
            {
                <article>
                    <div class="thumbnail">
                        <div class="panel-body">
                            <h6> @Html.DisplayFor(m => publication.Title)</h6>
                            <p> @Html.DisplayFor(m => publication.Content)</p>
                        </div>
                        <a class="thumbnail" href='@Url.Action("Edit", "Posts", new {id = publication.Id})'>
                            <img src="@publication.PhotoUrl" />
                        </a>
                        <br />
                    </div>
                </article>
            }
        </div>
    </section>
</div>