@model IEnumerable<OnlineAtelier.Web.Models.ProfilePageModels.ProfileOrdersViewModel>

@{
    ViewBag.Title = "_ProfilePagePartial";
}


@foreach (var order in Model)
{
    <div class="panel panel-default">
        <!-- Default panel contents -->

        <div class="panel-heading">
            <br />
            <h6>@order.AppearanceName - @order.AppearancePrice лв.</h6>
            <em>@order.CreatedOn</em>
        </div>
        <div class="panel-body">
            <p>@order.Details</p>
            @Html.Action("AddComment", "OrderComment", new { id = order.Id })
            @Html.Action("GetComments", "OrderComment", new { id = order.Id })
        </div>
    </div>
}
