@using Microsoft.AspNet.Identity
@model OnlineAtelier.Web.Models.ViewModels.Users.ProfileViewModel
@{
    ViewBag.Title = "Профилна страница";
}
<div class="row">
    <div class="col-md-3">
        <br />
        <div class="panel panel-body">
            <img class="userPhoto" src="@Url.Action("UserPhotos", "Users", new {id = Model.Id})" />
            <h3>@Html.DisplayFor(m => m.FullName)</h3>
            <div>
                @Html.ActionLink("Качване на нова снимка", "Edit", new {id=User.Identity.GetUserId()})
            </div>
            <div>
                @Html.ActionLink("Направи Поръчка", "Add", "Order", null, new {@class = "btn btn-primary"})
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <br />
        @Html.Action("GetOrders", "Order", new { id = Model.Id })
    </div>
    <div class="col-md-4">
        <h4>Приятелите на With love Eli: са дали най-много гласове за тези продукти</h4>
        @Html.Action("Rating","Posts")

        @Html.ActionLink("Виж още снимки в галерия", "PostGallery", "Posts")
    </div>
</div>