@model OnlineAtelier.Web.Models.ViewModels.Users.ProfileViewModel
@{
    ViewBag.Title = "Profile Page";
}
<div class="row">
    <div class="col-md-3">
        <br />
        <div class="panel panel-body">
            <img class="userPhoto" src="@Url.Action("UserPhotos", "Users", new {id = Model.Id})" />
            <h3>@Html.DisplayFor(m => m.FullName)</h3>
            <div>
                @Html.ActionLink("Редактирай профила", "Edit")
            </div>
            <div>
                @Html.ActionLink("Направи Поръчка", "Add", "Order", null, new {@class = "btn btn-primary"})
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <br />
            @Html.Action("GetOrders", "Order", new { id = Model.Id })
        </div>
</div>