@model OnlineAtelier.Web.Models.ViewModels.Acount.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

    <h2>Регистрация | @Html.ActionLink("Вход за потребители", "Login")</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-sm-offset-1", placeholder = "Имейл" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control col-sm-offset-1",  placeholder = "Име"})
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control col-sm-offset-1", placeholder = "Фамилия" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PhoneNumber.Number, new { @class = "form-control col-sm-offset-1", placeholder = "Телефон" })
                @Html.ValidationMessageFor(m => m.PhoneNumber.Number, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control col-sm-offset-1", placeholder = "Парола" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control col-sm-offset-1", placeholder = "Повтори паролата" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Регистрaция" />
            </div>
        </div>
    }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
