@model IEnumerable<OnlineAtelier.Web.Models.ProfilePageModels.ProfileOrdersViewModel>

@{
    ViewBag.Title = "_GetOrdersPartial";
}


@foreach (var order in Model)
{
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <br/>
            <h6>@order.AppearanceName - @order.AppearancePrice лв.</h6>
            <em>@order.CreatedOn</em>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>@order.Details</p>
                    @Html.Action("AddPicture", "UserPicture", new {id = order.Id})
                    @Html.Action("All", "UserPicture", new {id = order.Id})
                </div>
            </div>
            @Html.Action("GetComments", "OrderComment", new {id = order.Id})

            @Html.Action("AddComment", "OrderComment", new {id = order.Id})
        </div>
    </div>
}