@model IEnumerable<OnlineAtelier.Web.Models.ViewModels.Order.DisplayOrderVm>

@{
    ViewBag.Title = "_GetOrdersPartial";
}

<div class="panel panel-body">
    <div>
        <h5>
            Моите Поръчки
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">@Model.ToList().Count</span>
        </h5>
    </div>
</div>

@foreach (var order in Model.Where(o => o.IsАccepted))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6>
                @Html.DisplayFor(m => order.CategoryName) - @Html.DisplayFor(m => order.AppearanceName) - @Html.DisplayFor(m => order.FinalPrice)лв.
            </h6>
            <div>
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                @Html.ActionLink("Виж детайли", "Details", new { id = order.Id })
            </div>
            <small>
                (<em>@Html.DisplayFor(m => order.CreatedOn)</em>)
            </small>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.Action("All", "PhotosOrder", new { id = order.Id })
                </div>
            </div>
            @Html.Action("GetComments", "CommentOrder", new { id = order.Id })
            @Html.Action("AddComment", "CommentOrder", new { id = order.Id })
            @Html.Action("AddPicture", "PhotosOrder", new { id = order.Id })
        </div>
    </div>
}