@model IEnumerable<OnlineAtelier.Web.Models.ViewModels.ProfilePage.ProfileOrdersViewModel>

@{
    ViewBag.Title = "_GetOrdersPartial";
}

@foreach (var order in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <br/>
            <h6>@Html.DisplayFor(m => order.AppearanceName) - @Html.DisplayFor(m => order.AppearancePrice)лв.</h6>
            <em>@Html.DisplayFor(m => order.CreatedOn)</em>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>@Html.DisplayFor(m => order.Details)</p>                   
                    @Html.Action("All", "UserOrderPicture", new {id = order.Id})
                    @Html.Action("AddPicture", "UserOrderPicture", new { id = order.Id })
                </div>
            </div>
            @Html.Action("GetComments", "OrderComment", new {id = order.Id})

            @Html.Action("AddComment", "OrderComment", new {id = order.Id})
        </div>
    </div>
}