@using OnlineAtelier.Web.Infrastructure.Constants

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron eli">
    <h2 class="lead">Cookies!!! I can say everything with cookies!</h2>
</div>

<div class="row">
    <aside>
        <div class="col-lg-3">
            <div class="btn-group-vertical" style="width: 200px">
                @*todo move to css fail*@
                @Html.ActionLink("Начало", Views.Index, "Home", new { type = "button", @class = "btn btn-default active" })
                @Html.ActionLink("Галерия", "PostGallery", "PostsUser", null, new { type = "button", @class = "btn btn-default" })
                @Html.ActionLink("За Нас", Views.About, "Home", new { type = "button", @class = "btn btn-default" })
                @Html.ActionLink("Контакти", Views.Contact, "Home", new { type = "button", @class = "btn btn-default" })
                @Html.ActionLink("Поръчай", "Add", "Order", null, new { type = "button", @class = "btn btn-default" })
                @if (User.IsInRole("Admin"))
                {
                    <a href= @Views.AdminIndex class="btn btn-default">Администрирай</a>
                }
                <br />
            </div>
        </div>
    </aside>
    <section>
        <div class="col-lg-6">
           @Html.Action("AllIndexPosts", "PostsUser")
        </div>
    </section>
</div>