@model IEnumerable<OnlineAtelier.Web.Models.ViewModels.Order.DisplayOrderVm>

    @{
        ViewBag.Title = "_AllOrdersPartial";
    }

    @foreach (var order in Model)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <h3># @Html.DisplayFor(o => order.Id)</h3>
                <span>Тема:</span> <strong>@Html.DisplayFor(m => order.CategoryName) </strong>
                - <strong>@Html.DisplayFor(m => order.AppearanceName) </strong>
                <br />
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                <small>
                    (@Html.DisplayFor(m => order.CreatedOn))
                </small>
                <br />
                @Html.ActionLink("Отхвърли поръчката", "Delete", new { id = order.Id })
                <hr />
                Име на поръчителя: <strong> @Html.DisplayFor(m => order.Author.FullName) </strong>
                <br />
                Телефон за връзка: <strong> @Html.DisplayFor(m => order.Author.PhoneNumber) </strong>
                <br />
                Дата на получаване: <strong>@Html.DisplayFor(m => order.DateOfDecision) </strong>
                <br />
                @Html.DisplayFor(m => order.AppearanceName) - @Html.DisplayFor(m => order.FinalPrice)лв.
                <div>
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    <a href='@Url.Action("Details", "Order", new {area = "", id = order.Id})'>Виж детайли</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Снимки на клиента:
                        <br />
                        @Html.Action("All", "PhotosOrder", new { area = "", id = order.Id })
                    </div>
                </div>
                @Html.Action("GetComments", "CommentOrder", new { area = "", id = order.Id })
                @Html.Action("AddComment", "CommentOrder", new { area = "", id = order.Id })
                <a href='@Url.Action("Edit", "AdminOrders", new {id = order.Id})' class="btn btn-default">
                    Редактирай
                </a>
                <a href='@Url.Action("DesignIt", "AdminOrders", new {id = order.Id})' class="btn btn-default">
                    Проектирай
                </a>
            </div>
        </div>
    }