@model IEnumerable<OnlineAtelier.Web.Models.ViewModels.Order.DisplayOrderVm>

@{
    ViewBag.Title = "Index";
}

<div class="thumbnail">
    <div class="panel panel-default">
        <div class="panel-heading">Честито имаш нови @Model.ToList().Count поръчки!</div>
        <div class="panel-body">
            <p>...</p>
        </div>
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(m => m.CategoryName)</th>
                <th>@Html.DisplayNameFor(m => m.AppearanceName)</th>
                <th>@Html.DisplayNameFor(m => m.AppearancePrice)</th>
                <th>@Html.DisplayNameFor(m => m.DateOfDecision)</th>
            </tr>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => order.CategoryName)</td>
                    <td>@Html.DisplayFor(m =>order.AppearanceName)</td>
                    <td>@Html.DisplayFor(m =>order.AppearancePrice)</td>
                    <td>@Html.DisplayFor(m =>order.DateOfDecision)</td>
                </tr>                          
            }

        </table>
    </div>
</div>

@foreach (var order in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <br />
            <h5>
                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                @Html.DisplayFor(m => order.CategoryName)
                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
            </h5>
            <br />
            <h6>
                @Html.DisplayFor(m => order.AppearanceName) - @Html.DisplayFor(m => order.AppearancePrice)лв.
            </h6>
            <div>
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                @Html.ActionLink("Виж детайли", "Details", "Order", null, new { area = "", id = order.Id })
            </div>
            <em>
                @Html.DisplayFor(m => order.CreatedOn)
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            </em>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.Action("All", "PhotosOrder", new { area = "", id = order.Id })
                </div>
            </div>
            @Html.Action("GetComments", "CommentOrder", new { area = "", id = order.Id })
            @Html.Action("AddComment", "CommentOrder", new { area = "", id = order.Id })
        </div>
    </div>
}