@using OnlineAtelier.Web.Infrastructure.Constants
@model IEnumerable<OnlineAtelier.Web.Models.ViewModels.Order.DisplayOrderVm>

@{
    ViewBag.Title = "Index";
}

<div class="thumbnail">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Честито, имаш @Model.Where(m => !m.IsАccepted).ToList().Count нови поръчки!</h4>
        </div>
        <div class="panel-body">
            <p>
                Имаш <strong>@Model.Where(m => !m.IsАccepted).ToList().Count</strong> нови поръчки, които чакат одобрение.
                <br />
                Приети са <strong>@Model.Where(m => m.IsАccepted).ToList().Count</strong> поръчки.
            </p>
        </div>
        <table class="table">
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(m => m.CategoryName)</th>
                <th>@Html.DisplayNameFor(m => m.AppearanceName)</th>
                <th>@Html.DisplayNameFor(m => m.FinalPrice).</th>
                <th>@Html.DisplayNameFor(m => m.DateOfDecision)</th>
            </tr>
            @foreach (var order in Model)
            {
                string className = order.IsАccepted ? "accept" : "noAccept";
                <tr class=@className >
                    <td>@Html.DisplayFor(m => order.Id)</td>
                    <td>@Html.DisplayFor(m => order.CategoryName)</td>
                    <td>@Html.DisplayFor(m => order.AppearanceName)</td>
                    <td>@Html.DisplayFor(m => order.FinalPrice) лв</td>
                    <td>@Html.DisplayFor(m => order.DateOfDecision)</td>
                </tr>
            }

        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-2">
        <aside>
            <div class="btn-group-vertical" style="width: 180px">
                @*todo move to css fail*@
                @Html.ActionLink("Начало", Views.Index, null, new { type = "button", @class = "btn btn-default active" })
                @Html.ActionLink("Публикувай", "Create", "Posts", null, new { type = "button", @class = "btn btn-default" })
                <a href="~/" class="btn btn-default">Exit</a>
                <br />
            </div>
        </aside>
    </div>
    <div class="col-lg-5">
        @Html.Partial("_AllOrdersPartial", Model.Where(m => !m.IsАccepted))
    </div>
    <div class="col-lg-5">
        @Html.Partial("_AllOrdersPartial", Model.Where(m => m.IsАccepted))
    </div>
</div>