@using OnlineAtelier.Web.Infrastructure.Constants
@model IEnumerable<OnlineAtelier.Web.Models.ViewModels.Posts.IndexPostsVm>
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron eli">
    <h2 class="lead">Cookies!!! I can say everything with cookies!</h2>
</div>

<div class="row">
    <aside>
        <div class="col-lg-3">
            <div class="btn-group-vertical" style="width: 200px">
                @*todo move to css fail*@          
                @Html.ActionLink("Нови поръчки", Views.Index, "AdminOrders", null, new { type = "button", @class = "btn btn-default" })
                @Html.ActionLink("Добави модел", "Add", "Figures", null, new { type = "button", @class = "btn btn-default" })
                @Html.ActionLink("Добави нов продукт", "Create", "AdminAppearance", null, new { type = "button", @class = "btn btn-default" })
                @Html.ActionLink("Добави нова категория", "Add", "Categories", null, new { type = "button", @class = "btn btn-default" })
                <a class="btn btn-default" href="@Url.Action("PriceList", "Appearance", new {area=""})">Ценоразпис</a>
                @Html.ActionLink("Публикувай", "Create", null, new { type = "button", @class = "btn btn-default" })
                @*<a href="~/" class="btn btn-default">Изход</a>*@
                <br />
            </div>
        </div>
    </aside>
    <section>
        <div class="col-lg-6">
            @foreach (var post in Model)
            {
                <article>
                    <div class="thumbnail">
                        <div class="panel-body">
                            <p>
                                <img src="http://cliparts.co/cliparts/6Ty/Xn6/6TyXn6kTn.png" style="width: 20px " />
                                <strong>With love: Eli</strong> добави нова снимка към албума:
                                <a href='@Url.Action("Load", "Posts", new {area = "", id = post.Category.Id})'>@Html.DisplayFor(p => post.Category.Name)</a>
                            </p>
                            <h6> @Html.DisplayFor(m => post.Title)</h6>
                            <p> @Html.DisplayFor(m => post.Content)</p>
                        </div>
                        <a class="thumbnail" href='@Url.Action("Details", "Posts", new { area= "", id = post.Id})'>
                            <img src="@post.Image.Url" />
                        </a>
                        @Html.ActionLink("Изтрий", "Delete",  new {id = post.Id }) | 
                        @Html.ActionLink("Редактирай", "Edit",  new {id = post.Id })
                        <br />
                    </div>
                </article>
            }
        </div>
    </section>
</div>