@model IEnumerable<OnlineAtelier.Web.Models.ViewModels.Posts.IndexPostsVm>
@{
    ViewBag.Title = "_AllIndexPostsPartial";
}

@foreach (var post in Model)
{
    <article>
        <div class="thumbnail">
            <div class="panel-body">
                <p>
                    <img src="http://cliparts.co/cliparts/6Ty/Xn6/6TyXn6kTn.png" style="width: 20px " />
                    <strong>With love: Eli</strong> добави нова снимка към албума:
                    <a href='@Url.Action("Load", new {id = post.Category.Id})'>@Html.DisplayFor(p => post.Category.Name)</a>
                </p>
                <h6> @Html.DisplayFor(m => post.Title)</h6>
                <p> @Html.DisplayFor(m => post.Content)</p>
            </div>
            <a class="thumbnail" href='@Url.Action("Details", "PostsUser", new {id = post.Id})'>
                <img src="@post.Image.Url" />
            </a>
            <br />
        </div>
    </article>
}