@model IEnumerable<OnlineAtelier.Web.Models.ViewModels.Users.DisplayAllUsersVm>
@{
    ViewBag.Title = "_UsersPartial";
}
 
<table class="table">
    <tr>
        
        <th>@Html.Label("Име на клиента")</th>
        <th>@Html.Label("Телефон")</th>
    </tr>
    @foreach(var user in Model)
            {
        <tr>
            <td>@Html.DisplayFor(m => user.FirstName)  @Html.DisplayFor(m => user.LastName)</td>
            <td>@Html.DisplayFor(m => user.PhoneNumber)</td>
        </tr>
    }
</table>